body {
  background: #2d4259;
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px dotted rgba(45,66,89,.4);
}

.app-title {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  height: 40px;
  padding-top: 15px;
}

.post-list {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 90%;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.menu {
  text-align: right;
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.menu-content {
  display: flex;
}

.menu-title {
  font-size: 12px;
  font-style: italic;
  color: #868e96;
}
.menu-button {
  width: 15%;
  text-align: left; 
}
.menu-categories {
  width: 70%;
  text-align: center;
}
.menu-sort {
  width: 15%;
  text-align: right;
}

.post {
  display: flex;
}
.post-title {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}
.post-info {
  width: 90%;
  font-size: 12px;
  font-style: italic;
  color: #868e96;
  display: flex;
}
.vote-score{
  width: 10%;
  font-size: 12px;
  font-weight: 900;
  color: #868e96;
  text-align: right;
  padding-right: 25px;
  background-image: url('./icons/love.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  min-height: 18px;
}

select {
  font-size: 11px;
  font-weight: 700;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

p {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
  box-shadow: 0 2px 0 #2d425993;
  color: #2d4259;
  padding: 0.3em 1.5em;
  position: relative;
  margin-left: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #35629156;
}

